.body {
  font-family: Arial, Arial, Helvetica, sans-serif;
}
.jumbotron{
  background-image: url(https://raw.githubusercontent.com/arossi1262/Soulestial-Circles-Landing-Page/main/STARJOURNAL.jpg);
  background-size: cover;
  background-position: center left;
  height: 100vh;
  color: white;
  font-weight: 900;
}
.mask{
  background-color: grey;
  width: 100%;
  height: 100vh;
  opacity: 0.75;
}
